[Desktop Entry]
Type=Application
Name=Corestart Reach
Comment=RDP and SSH connection manager
Exec=corestart-reach
Icon=io.github.thepoolboy.corestart-reach
StartupWMClass=io.github.thepoolboy.corestart-reach
Terminal=false
Categories=Network;RemoteAccess;
Keywords=rdp;ssh;remote;desktop;terminal;
